@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@font-face {
    font-family: AdventSans-Logo;
    src: url('/fonts/AdventSans-Logo.otf');
}

@font-face {
    font-family: NotoSans-Regular;
    src: url('/fonts/NotoSans-Regular.ttf');
}

@font-face {
    font-family: NotoSans-Bold;
    src: url('/fonts/NotoSans-Bold.ttf');
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    border: 0;
    overflow-x: hidden;
}

p {
    font-size: 18px;
}


/* header */

.rounded-circle {
    width: 35px;
    margin-right: 8px;
}

button {
    background: unset;
    border: none;
    overflow: hidden;
}


/* ------------------------- */


/* tela inicial */

.tela-inicio {
    height: 100%;
    font-family: NotoSans-Regular;
    background: rgba(0, 0, 0, 0.3);
}

.content-telainicio {
    margin-top: 45px;
}

.content-telainicio h1 {
    font-family: AdventSans-Logo;
}

.culto-ao-vivo {
    margin-top: 20px;
}

.culto-ao-vivo h2 {
    font-family: AdventSans-Logo;
    text-shadow: 0px 0px 10px white;
}

.culto-ao-vivo svg {
    color: white;
}

.container2 {
    padding: 20px;
}

.container3 {
    padding: 20px;
}

#parallax-image {
    height: 100%;
    box-shadow: inset 0px 10px 40px 0px black;
}

#parallax-image2 {
    height: 300px;
    box-shadow: inset 0px 5px 40px 0px black;
}

.col1 .card-body {
    background-color: #411e1e;
    color: white;
}

.col1 h2 {
    text-shadow: 0px 0px 10px white;
}

.col2 .card-body {
    color: white;
    background: -webkit-linear-gradient(-135deg, #5873ba, #2d60e1);
    background: -o-linear-gradient(-135deg, #5873ba, #2d60e1);
    background: -moz-linear-gradient(-135deg, #5873ba, #2d60e1);
}

.col2 h2 {
    text-shadow: 0px 0px 10px white;
}

.col3 .card-body {
    background-color: #2A2E45;
    color: white;
}

.col3 h2 {
    text-shadow: 0px 0px 10px white;
}

.row h1 {
    text-shadow: 0px 0px 10px white;
}

.btmarcar-presenca {
    padding: 8px 10px;
    border-radius: 20px;
    color: black;
    font-weight: bold;
    background-color: white;
    border: none;
    overflow: hidden;
    transition: 0.5s;
    box-shadow: 0 0 10px #dff119;
}

.btmarcar-presenca:hover {
    background-color: #dff119;
    opacity: 0.7;
    box-shadow: 0 0 10px #dff119, 0 0 40px #dff119, 0 0 80px #dff119;
}

.btplayculto {
    padding: 8px 10px;
    border-radius: 20px;
    color: black;
    font-weight: bold;
    background-color: #fb1c1c;
    border: none;
    overflow: hidden;
    transition: 0.5s;
    box-shadow: 0 0 10px white;
}

.btplayculto:hover {
    opacity: 0.7;
    box-shadow: 0 0 10px #c4302b, 0 0 40px #c4302b, 0 0 80px #c4302b;
}

.sobreaigreja {
    font-family: NotoSans-Regular;
    box-shadow: 0px -10px 40px 0px black;
    min-height: 40%;
}

.sobreaigreja h1 {
    text-shadow: 0px 0px 10px white;
}

.sabermais {
    margin: 10px 0;
    padding: 8px 10px;
    border-radius: 20px;
    color: black;
    background-color: white;
    border: none;
    overflow: hidden;
    transition: 0.5s;
    box-shadow: 0 0 10px #dff119;
}

.sabermais:hover {
    background: #dff119;
    opacity: 0.7;
    box-shadow: 0 0 10px #dff119, 0 0 40px #dff119, 0 0 80px #dff119;
}


/* .mais-informacoes {
    font-family: NotoSans-Regular;
    min-height: 100%;
    background: #343a40;
} */

.card-info {
    padding-top: 10px;
}

.card-info-titulo {
    color: white;
    text-shadow: 0px 0px 10px white;
}

.texto-caption {
    margin-top: 10px;
}

.texto-caption a {
    margin-top: 10px;
}


/* ------------------------- */


/* botões cards */

.ntplay {
    margin-top: 10px;
    padding: 8px 10px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    background-color: #193df1;
    border: none;
    overflow: hidden;
    transition: 0.5s;
    box-shadow: 0 0 10px #dff119;
}

.ntplay:hover {
    color: black;
    background: #dff119;
    opacity: 0.7;
    box-shadow: 0 0 10px #193df1, 0 0 20px #193df1, 0 0 30px #193df1;
}

.crsbiblico {
    margin-top: 10px;
    padding: 8px 10px;
    border-radius: 20px;
    font-weight: bold;
    background-color: white;
    border: none;
    overflow: hidden;
    transition: 0.5s;
    box-shadow: 0 0 10px #dff119;
}

.crsbiblico:hover {
    background: #dff119;
    opacity: 0.7;
    box-shadow: 0 0 10px #dff119, 0 0 40px #dff119, 0 0 80px #dff119;
}


/* ------------------------- */


/* Anuncios */

.anuncios {
    background: no-repeat center/cover url('https://source.unsplash.com/random/542x321');
}

.anuncios .container {
    margin-top: 15px;
    width: 95%;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5)
}

.title-container {
    font-family: NotoSans-Regular;
}

.container {
    padding-top: 15px;
    padding-bottom: 15px;
}

.container .jumbotron {
    padding: 1rem;
    border-radius: 15px;
    margin-bottom: 1rem;
}

.page-footeranuncios {
    background: unset;
}


/* ------------------------- */


/* Contatos / localização */

.contatos-localizacao {
    background: no-repeat center/cover url('https://source.unsplash.com/random/542x321');
    padding-top: 15px;
    min-height: 100%;
}

.content {
    max-height: 100%;
}

.contatos-localizacao .container {
    width: 95%;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5)
}

.contatos-localizacao .container .midia-social ul {
    margin: 0 auto;
    padding: 0;
    display: inline;
}

.contatos-localizacao .container .midia-social ul li {
    margin: 0 10px;
    display: inline;
}

.contatos-localizacao .container .midia-social ul li svg {
    color: gold;
    border-radius: 7px;
}

.page-footercontato-localizacao {
    background: unset;
}

.linhamapa {
    padding: 30px;
}

.map {
    height: 400px;
    width: 100%;
}


/* ------------------------- */


/* Painel */

.botaoadicionaradmin {
    float: right;
}

.botaoremovertodos {
    float: right;
}

.botaofecharmarcacao {
    margin-left: 8px;
    float: right;
}


/* ------------------------- */


/* Geral */

.col-md-4 img {
    width: 100%;
    display: block;
    margin: auto;
}

.row .col-md-4 p {
    margin-top: 8px;
    font-family: NotoSans-Regular;
}

.page-footer {
    background: #343a40;
}


/* ------------------------- */


/* Responsividade */


/* Tablet */

@media (max-width: 767px) {
    /*Geral*/
    h1 {
        font-size: 1.8rem;
    }
    h2 {
        font-size: 1.7rem;
    }
    h4 {
        font-size: 1.5rem;
    }
    p {
        font-size: 1.4rem;
    }
    /* ------------------------- */
    /* Tela inicial */
    #parallax-image {
        height: 70%;
    }
    .tela-inicio .row p {
        font-size: 1.4rem;
    }
    .culto-ao-vivo {
        margin-top: 5px;
    }
    .content-telainicio {
        margin-top: 5px;
    }
    .btmarcar-presenca {
        margin-top: 30px;
        padding: 8px 10px;
        border-radius: 20px;
        color: black;
        font-weight: bold;
        background-color: white;
        border: none;
        overflow: hidden;
        transition: 0.5s;
        box-shadow: 0 0 10px #dff119;
    }
    .sobreaigreja {
        background: no-repeat center/cover url('img/sobremin.jpg');
    }
    /* ------------------------- */
    /* Contatos / localização */
    .contatos-localizacao {
        min-height: 100%;
    }
    .content-telainicio {
        margin-top: 50px;
    }
    .content {
        min-height: 90%;
    }
    /* ------------------------- */
    /* Geral */
    .page-footer {
        background: #343a40;
        font-size: 1.2rem;
    }
    .page-footercontato-localizacao {
        font-size: 1.2rem;
    }
    .page-footeranuncios {
        font-size: 1.2rem;
    }
    /* ------------------------- */
}


/* ------------------------- */


/* Smartphones */

@media (max-width: 480px) {
    /* Geral */
    h1 {
        font-size: 1.7rem;
    }
    h2 {
        font-size: 1.6rem;
    }
    h4 {
        font-size: 1.4rem;
    }
    p {
        font-size: 0.9rem;
    }
    /* ------------------------- */
    /* Tela inicial */
    .tela-inicio {
        min-height: 100%;
    }
    .tela-inicio .row p {
        margin-top: 15px;
        font-size: 0.9rem;
    }
    .content-telainicio {
        margin-top: 5px;
    }
    .btmarcar-presenca {
        margin-top: 20px;
        padding: 8px 10px;
        border-radius: 20px;
        color: black;
        font-weight: bold;
        background-color: white;
        border: none;
        overflow: hidden;
        transition: 0.5s;
        box-shadow: 0 0 10px #dff119;
    }
    .linha1 {
        padding: 10px;
    }
    .linha2 {
        padding: 10px;
    }
    .linha3 {
        padding: 10px;
    }
    .linha4 {
        padding: 10px;
    }
    /* ------------------------- */
    /* Contatos / localização */
    .contatos-localizacao {
        min-height: 100%;
    }
    .content {
        height: auto
    }
    /* ------------------------- */
    /* Geral */
    .page-footer {
        font-size: 0.8rem;
    }
    .page-footercontato-localizacao {
        font-size: 0.8rem;
    }
    .page-footeranuncios {
        font-size: 0.8rem;
    }
    /* ------------------------- */
}